/*
* CursorHelp v1.0 (21.9.14)
* http://ms27.github.io/CursorHelp/
* Copyright 2014, Magomedov Said.
*/
*,body{
margin:0;
padding:0;
}
body{
font-size:18px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight:normal;
color:#444;
overflow-y:scroll;
}
a{
color:inherit;
text-decoration:none;
}
ul{
list-style:none;
}
h1{
font-size:4em;
}
h2{
font-size:2em;
text-transform:uppercase;
border-width:4px 2px;
border-style:solid;
border-color:#444;
-webkit-border-radius:10px;
-o-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
}
@media(max-width:400px){
h1{
font-size:3em;
}
h2{
font-size:1.5em;
}
}
@media(max-width:300px){
h1{
font-size:2em;
}
}
h1,h2{
display:table;
margin:10px auto;
padding:5px 15px;
position:relative;
text-shadow:0px 1px 0 #fff,0px 3px 0 #444;
}
sup{
position:absolute;
right:-10px;
top:0;
font-size:50%;
position:absolute;
}
header{
position:fixed;
top:0;
left:0;
right:0;
padding:0;
background-color:#444;
color:#e5e5e5;
z-index:99999;
font-size:20px;
-webkit-box-shadow:0 0px 5px #222;
-moz-box-shadow:0 0px 5px #222;
-o-box-shadow:0 0px 5px #222;
box-shadow:0 0px 5px #222;
}
@media(max-width:425px){
header{
font-size:14px;
}
code{
font-size:15px;
}
}
#toTop{
float:left;
}
#toGitHub{
float:right;
}
#toTop a,#toGitHub a{
padding:10px 14px;
}
header nav{
margin:0 47px;
}
header ul{
display:table;
margin:0 auto;
}
header li,header a{
display:inline-block;
}
header li .fa{
display:none;
}
header a{
padding:10px 10px;
}
header a:hover{
background-color:rgba(255,255,255,.05);
}
header a:active{
background-color:rgba(255,255,255,.2);
}
.CHdisplay{
display:none;
}
@media(max-width:340px){
header li .fa,.CHdisplay{
display:inline-block;
}
header li span{
display:none;
}
}
#wrap>.header{
padding:47px 0 0;
}
#wrap>.header .main{
border-width:5px 2px;
-webkit-border-radius:20px;
-o-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
max-width:700px;
margin:0 auto 30px;
padding:0 15px 15px;
text-align:center;
font-family:'Roboto Condensed', sans-serif;
-webkit-box-shadow:0 3px 15px rgba(0,0,0,.5);
-moz-box-shadow:0 3px 15px rgba(0,0,0,.5);
box-shadow:0 3px 15px rgba(0,0,0,.5);
}
#wrap>.header .main,#wrap>.header .main:before{
background-color:#fff;
border-style:solid;
border-color:#444;
position:relative;
z-index:2;
}
#wrap>.header .main:before{
width:10px;
height:10px;
border-width:5px 5px 0 0;
content:'';
display:table;
top:-11px;
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
margin:0 auto;
}
#wrap>.header .cursorTitle{
border-bottom:1px dotted #444;
}
#wrap>.header .footer,
#wrap>.header .footer>div{
background-color:#444;
}
#wrap>.header .footer{
transform:skewY(11deg);
}
#wrap>.header .footer>div{
-moz-transform:skewY(-21deg);
-ms-transform:skewY(-21deg);
-webkit-transform:skewY(-21deg);
-o-transform:skewY(-21deg);
transform:skewY(-21deg);
}
#wrap>.header .footer>div>div{
max-width:700px;
margin:0 auto;
padding:10px 0 40px;
-moz-transform:skewY(11deg);
-ms-transform:skewY(11deg);
-webkit-transform:skewY(11deg);
-o-transform:skewY(11deg);
transform:skewY(11deg);
color:#fff;
}
#wrap>.header .footer a.download{
margin:0 auto;
padding:5px 10px;
display:table;
font-size:2em;
-webkit-border-radius:10px;
-o-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
border:6px double #fff;
}
#wrap>.header .footer a.download:hover{
background-color:rgba(255,255,255,.2);

}
#wrap>.header .margin{
margin:0 20px;
}
#wrap>.header .info{
text-align:center;
margin:10px 0 0;
font-size:17px;
font-family:'Roboto Condensed', sans-serif;
top:-30px;
color:#fff;
position:relative;
}
@media(max-width:490px){
#wrap>.header .footer>div>div{
padding:10px 0 70px;
}
#wrap>.header .info{
top:-60px;
}
}
#wrap>.header .info p{
position:absolute;
top:-10px;
display:table;
width: 100%;
}
#wrap>.content{
margin:40px 0 0;
}
h2,h2 .hCBox .hC{
background-color:#ddd;
}
h2 .hCBox{
content:'';
display:table;
margin:0 auto;
position:relative;
bottom:-3px;
}
h2 .hCBox .hC{
position:absolute;
left:-3px;
width:6px;
height:6px;
border-width:3px 3px 0 0;
border-style:solid;
border-color:#444;
-moz-transform:rotate(135deg);
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
-o-transform:rotate(135deg);
transform:rotate(135deg);
}
#cursorTitle.ch-h2{
font-size:160%;
color:#fff;
background-color:#444;
font-family:'Roboto Condensed', sans-serif;
text-shadow:0px 1px 0 #444,0px 2px 0 #fff;
-webkit-box-shadow:0 2px 3px #666;
-moz-box-shadow:0 2px 3px #666;
box-shadow:0 2px 3px #666;
}
#wrap>.content .wrap{
background-color:#dadada;
}
#wrap>.content .wrap .main{
max-width:700px;
margin:0 auto;
padding:10px 15px;
text-align:center;
}
#wrap>.content #exampleBox{
display:table;
}
#wrap>.content .exampleBlocks{
padding:3px 8px;
margin:3px 8px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
font-size:19px;
display:inline-block;
}
#wrap>.content .wrap .main span{
border-bottom:3px solid rgba(0,0,0,.4);
}
#wrap>.content .exampleBlocks:nth-child(4n-3){
background-color:rgba(235,50,50,0.3);
}
#wrap>.content .exampleBlocks:nth-child(4n-2){
background-color:rgba(25,150,245,0.3);
}
#wrap>.content .exampleBlocks:nth-child(4n-1){
background-color:rgba(20,200,70,0.3);
}
#wrap>.content .exampleBlocks:nth-child(4n-0){
background-color:rgba(240,210,15,0.3);
}
.rotate-45{
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}
#useBox ol{
display:table;
margin:0 auto;
padding-left:10px;
}
.code,#useBox ol{
text-align:left;
}
#useInfo{
border-width:4px 0;
border-style:dashed;
border-color:rgba(255,255,255,.3);
margin:10px 0 0;
}
#useInfo li{
border-width:2px 0 1px;
border-style:dashed;
border-color:rgba(255,255,255,.3);
margin:10px 0 0;
}
.exampleC{
text-align:center;
}

footer{
background-color:#444;
color:#fff;
}
footer div{
margin:0 auto;
max-width:700px;
text-align:center;
padding-top:10px;
}
footer div p{
display:inline-block;
margin:2px 5px 10px;
padding:5px 10px;
border-width:3px;
}
footer div p,footer div p .hCBox .hC{
background-color:#666;
border-style:solid;
border-color:#555;
}
footer div p .hCBox{
content:'';
display:table;
margin:0 auto;
position:relative;
bottom:-3px;
}
div p .hCBox .hC{
position:absolute;
left:-3px;
width:6px;
border-width:3px 3px 0 0;
height:6px;
-moz-transform:rotate(135deg);
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
-o-transform:rotate(135deg);
transform:rotate(135deg);
}
